.header-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    background-color: rgba(190,188,185,255);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.texto-esquerda{
    height: 100%;
    flex-basis: 50%;
    color: #0A1128;
}

.texto-esquerda h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-right: 4rem;

}

.texto-esquerda p{
    line-height:3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-right: 18rem;
}

.texto-esquerda button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0.9rem 3.8rem;
    color: #0A1128;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1rem rgb(94, 94, 94);
}

.texto-esquerda button:hover{
    background-color: #0A1128;
    color: #fff;
    transition: 0.5s all;
    box-shadow: 0 .5rem 1rem rgb(2, 17, 61);
}

.imagem-header{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-header img{
    width: 120%;
    margin-right: 10rem;
}

/* MAIN */

.container-colection{
    background: #ffffff;
    padding: 30px;
}

.titulo-colection{
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0px 50px 0px;
}

.colection-list{
    gap: 10rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


.titulo-genero{
    font-size: 2.5rem;
    margin:2rem 0 1rem 0;
    text-align: center;
    border-top: 0.2rem solid #000000;
    padding: 2rem 0 1rem 0;
}

.card-colection{
    border: 5px solid #0A1128;
    border-radius: 100%;
}

.card-colection .image-colection {
    height: 20rem;
    width: 20rem;
    padding: 0.1rem;
    background: #ffffff;
    border-radius: 100%;
}

.image-colection img {
    height: 97%;
    width: 97%;
    object-fit: cover ;
    border-radius: 100%;
}

.image-colection img:hover{
    height: 100%;
    width: 100%;
    object-fit: cover ;
    border-radius: 100%;
    transition: 0.5s;
}

::-webkit-scrollbar {
    height: 2px;
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0A1128;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    gap: 2rem;
    max-width: 100vw;
    margin: 0 1rem;
    padding: 10px;
    overflow-x: hidden;
    background: #ffffff;
    scroll-behavior: smooth;
}

.container .card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 2.1rem;
    background: #0A1128;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 1rem;
}

.card .image {
    height: 25rem;
    padding: 0px;
    background: #ffffff;
    border-radius: 2rem;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: 2px solid #fff;
}

.card h2 {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

button.prev, button.next {
    background-color: #c7c7c7;
    color: #000000;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: #2b2b2b;
    color: #ffffff;
}